$main-color: #0c0c0d;
$secondary-color: #164dcc;
// $pure-white: #fff;
// $light-white: #eee;
// $dark: #2e2e2e;
$green-color: #d1fd08;
// $green-color-hover: #0fe29c;
$lightest-gray: #faf7f2;
$light-gray: #92949f;
$orange: #f98f1c;
